.Navbar {
  background-color: white;
}

.nav-link {
  padding: 0px;
}

.NavBrand {
  color: #555555;
  font-weight: 200;
  /* font-family: "Josefin Sans", sans-serif; */
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.3s;
}

.NavItem {
  color: #555555;
  margin: 5px;
  padding: 5px;

  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
}

.NavBrand:hover {
  color: #7c7c7c;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.3s;
  transform: translate(0, -2px);
}

.NavItem:hover {
  color: #7c7c7c;

  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
  transform: translate(0, -2px);
}

/* .hoverup {
    transition: 0.3s;
  }
  
  .hoverup:hover {
    transform: translate(0, -2px);
  } */
